<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mi Familia </title>
</head>
<body>
    <BODY BGCOLOR="pink"></BODY>

    <h1><B>Mi familia está compuesta por las siguientes personas:</B></h1>
    
    Mi {{familiar1.relacion}} se llama {{familiar1.nombre}}. Su fecha de nacimiento es {{familiar1.fechaNacimiento}} y tiene {{familiar1.edad}} años.
    <br>
    Mi {{familiar2.relacion}} se llama {{familiar2.nombre}}. Su fecha de nacimiento es {{familiar2.fechaNacimiento}} y tiene {{familiar2.edad}} años.
    <br>
    Mi {{familiar3.relacion}} se llama {{familiar3.nombre}}. Su fecha de nacimiento es {{familiar3.fechaNacimiento}} y tiene {{familiar3.edad}} años.
    <br>
    Mi {{familiar4.relacion}} se llama {{familiar4.nombre}}. Su fecha de nacimiento es {{familiar4.fechaNacimiento}} y tiene {{familiar4.edad}} años.
    
</body>
</html>